#panorama {
    width: 900px;
    height: 500px;
    position: absolute;
    top: 25%;
    left: 27%;
    border-radius: 10px;
}

.angelo_caduto{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/Angelo_Caduto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ponte_giapponese{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/IlPonteGiapponese.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.viandante{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/ViadanteSulMareDiNebbia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.campo_grano{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/CampoDiGrano.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.guernica{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/Guernica.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bacio{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/IlBacioDiHeyez.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.annunciazione{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/l\'Annunciazione.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.persistenza{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/LaPersistenzaDellaMemoria.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.notte_stellata{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/NotteStellata.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.liberta{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/LaLibertaCheGuidaIlPOpolo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.onda{
    height: 100px;
    width: 140px;
    background-image: url("../img/images/opere/La_grande_onda_di_Kanagawa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div.custom-tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #a22323;
    text-align: left;
    font-weight: bolder;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}

div.custom-tooltip img {
    visibility: hidden;
}

div.custom-tooltip:hover span, div.custom-tooltip:hover img {
    visibility: visible;
}

div.custom-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}